<!--SECTION SIGNUP EMAIL SIGNUP START-->
<div class="authentication_wrap kyivstar" data-ng-controller="registerController">
    <div class="block-white-wrap relative">
        <div class="padding-60">
            <h1 id="tooltip-new" class="text-center" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Рєєстрація</h1>

            <div class="register-popup success" ng-show="showSuccessMsg">
                <h5>Обліковій запис для {{regLogin}} успішно створено</h5>
                <p>
                    На вказану Вами адресу електроної пошти було надіслано лист, який містить інструкції з активації. Після активаціі для входу на портал використовуйте адресу електоної пошти та пароль.
                </p>
                <a class="popup_close" ng-click="showSuccessMsg = false">X</a>
            </div>


            <form action="#" class="form_register_full m-top-25 text-center kyivstar-form">
                <div class="input-wrapper">
                    <input type="text" name="name" id="reg-name"
                           placeholder="+380671234567" ng-model="regLogin" ng-click="returnInput()"/>
                    <div id="first-icon" class="input-img info-img" ng-click="showHelpPopup = !showHelpPopup;" ></div>
                </div>

                <div ng-show="showSMSBlock1">
                    <p class="text-left m-top-15 m-bottom-20">З міркувань безпеки ми відправимо безкоштовне SMS-повідомлення із кодом
                        підтвердження на вказанний мобільний телефон</p>

                    <div class="submit-block text-center">
                        <input class="connect" type="button" value="Отримати код" ng-click="get_sms_code()" />
                        <a class="pull-left m-top-15" ng-click="resetAll()">Скасувати?</a>
                    </div>

                </div>

                <div ng-show="showSMSBlock2">
                    <p class="text-left m-top-15 m-bottom-20">На Ваш номер телефону {{regLogin}} було надіслано SMS-повідомлення із кодом
                        підтвердження. Введіть отриманний код в поле нижче</p>
                    <div class="input-wrapper">
                        <input type="text" name="name" id="name5"
                               placeholder="Код підтвердження з SMS-повідомлення" ng-model="smsCodeIn" />
                        <div class="info-img" alt="" ng-click="showHelpPopup = !showHelpPopup;" ></div>
                    </div>
                <div ng-show="showPukBlock">
                    <label class="text-left">Iндивiдуальнi PUK1\PUK2-код до SIM-картки зазначенi на пластиковому кардхолдерi, що мiститься на стартовому пакетi</label>
                    <input type="text" name="name" id="name8" class="input-locked"
                           placeholder="PUK2-код вашоi SIM-картки" />
                    <input class="connect" type="button" value="Вхiд" ng-click="get_enter()" />
                </div>

                    <div class="submit-block text-center">
                        <input class="connect" type="button" value="Зарееструватися" ng-click="get_enter()" />
                        <a class="pull-left m-top-15" ng-click="resetAll()">Скасувати?</a>
                    </div>

                </div>
                <!--<input type="text" name="name" id="name2" class="input-warning" placeholder="Електронна пошта або номер мобильного">-->

                <div class="submit-block text-center" ng-show="showRegBtn">
                    <input id="reg_bt" class="connect" type="button" value="Зарееструватися"  ng-click="register_newUser()" />
                    <a class="pull-left m-top-15" ng-click="resetAll()">Скасувати?</a>
                </div>
            </form>

            <div ng-show="showHelpBlock">
                <h5 class="m-top-25 m-bottom-20">Спробуйте один з альтернативних способів нижче</h5>

                <form action="#" class="form_register_full text-center kyivstar-form form_internet">
                    <div class="block m-bottom-10 text-left clearfix">
                        <input name="radio" type="radio" value="radio">
                        <label>Надіслати тестове повідомлення ще раз</label>
                    </div>
                    <div class="block m-bottom-10 text-left  clearfix">
                        <input name="radio" type="radio" value="radio" checked>
                        <label>Вікористати PUK-2 вашої сім-картки</label>
                    </div>
                    <div class="block m-bottom-10 text-left  clearfix">
                        <input name="radio" type="radio" value="radio">
                        <label>Зареєструватися, використовуючт адресу електроної пошти</label>
                    </div>

                    <div class="clearfix"></div>
                    <div class="submit-block text-center">
                        <input class="connect" type="button" value="Скористатися цим способом"/>
                    </div>

                </form>
            </div>


            <h4 class="m-top-25">Зв'язок с соціальними мережами</h4>

            <p class="m-top-15">Ви можете зарєєструватися за допомогою облікових записів соціальніх мереж</p>

            <div class="block">
                <a class="social_link" href="#"><i class="iconks iconks-social-fb"></i>Facebook</a>
                <a class="social_link" href="#"><i class="iconks iconks-social-goo"></i>Google</a>
                <a class="social_link" href="#"><i class="iconks iconks-social-tw"></i>Twitter</a>
                <a class="social_link" href="#"><i class="iconks iconks-social-vk"></i>Vkontakte</a>
            </div>

            <div class="block text-center m-top-20">
                <a href="#">Вже зарєєстровані?</a>
            </div>

        </div>

    </div>
</div>
<!--SECTION SIGNUP EMAIL SIGNUP START-->