$kyivstarFontFamily300: 'MuseoSansCyrl-300';
$kyivstarFontFamily500: 'MuseoSansCyrl-500';
$kyivstarFontFamily700: 'MuseoSansCyrl-700';

$searchFieldFontFamily: 'MuseoSansCyrl-500';
$searchFieldFontSize: 14px;
$searchFieldIconUrl: "../images/icon-search.png";

$mobileHorisontalPadding: 25px;
$mobileVerticalPadding: 30px;

$roamingSearchFieldFontFamily: 'MuseoSansCyrl-300';
$roamingSearchFieldIconUrl: '../images/icon-search-roaming-white.png';
$roamingSearchAciveFieldIconUrl: '../images/icon-search-roaming-blue.png';

