@import "compass/css3/transition";
@import "mixins";

/*1024px START*/
@media (max-width: 1024px) {

  .index_main {
    padding: 0 75px;
  }
  .submit-block
  {
    a
    {
      position: relative;
      float: left;
      clear: both;
    }
  }
  .authorize_main_block_half
  {
    width: 75%;
    display: table-cell;
  }
  .authorize_popup_block
  {
    .register-popup
    {
      right: 30px !important;
      max-width: 150px !important;
    }
  }


}
/*1024px END*/
