@import "partials/base/mixins";

@media (min-width: 1024px) {
  .vis-big {
    display: inline-block;
  }
  .vis-medium {
    //display: none;
  }

  .vis-small {
    display: none !important;
  }
  .news-33 {
    display: inline-block !important;
  }
  .news-66 {
    width: 66%;
  }
  .news-33-desktop {
    display: inline-block !important;
  }
  .news-33 {
    display: inline-block !important;
  }
  .news-33-mobile {
    display: none !important;
  }
  .news-search-desktop {
    display: none !important;
  }
  .region_select article {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
  .slider_wrapper_404{
    .banner_img2{
      display: inline-block;
      span{
        margin: 0px 0px;
      }
    }
    .detal{
      display: block;
    }
    h4{
      display: block;
    }
    .link-small{
      display: none !important;
    }
  }
  .slider_wrapper_500{
    .banner_img2{
      display: inline-block;
      span{
        margin: 0px 0px;
      }
    }
    .detal{
      display: block;
    }
    h4{
      display: block;
    }
    .link-small{
      display: none !important;
    }
  }
  .faq-core{
    .table{
      /*display: table;*/
      .w50:nth-child(1){
        display: table-cell;
      }
      ul li a p{
        display: inline;
      }
    }
    /*h1{
      display: block;
    }*/
    .table > div:nth-child(2){
      display: table-cell;
    }
  }
  .desktop{
    display: block !important;
  }
  .mobile{
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .aui #navigation {
    display: inherit !important;
  }
  .vis-big {
    display: none !important;
  }

  .vis-medium {
    display: inline-block !important;
  }

  .vis-small {
    display: none;
  }
  .news-33 {
    /*display: table-row !important;*/
  }
  .news-66 {
    width: 100% !important;
  }
  .news-33-desktop {
    display: none !important;
  }
  .news-33 {
    display: none !important;
  }
  .news-33-mobile {
    display: inline-block !important;
  }
  .news-search-desktop {
    display: block !important;
  }
  .service-page h4 {
    display: block !important;
  }
  .service-page
  {
    .left_part
    {
      width: 100%;
      padding-top: 0;
      display: block;
      margin-bottom: 30px;
    }
  }
  .slider_wrapper_404{
    .banner_img2{
      display: table-row;
      span{
        margin: 90px 25px;
      }
    }
    .detal{
      display: none;
    }
    h4{
      display: none !important;
    }
    .link-small{
      display: block !important;
      .detal{
        display: block !important;
      }
    }
  }
  .slider_wrapper_500{
    .banner_img2{
      display: inline-block;
    }
    .detal{
      display: none;
    }
    h4{
      display: none !important;
    }
    .link-small{
      display: block !important;
      .detal{
        display: block !important;
      }
    }
  }
  .faq-core{
    .table{
      /*display: none !important;*/
      .w50:nth-child(1){
        display: table-row;
      }
      ul li a p{
        display: none;
      }
    }
    /*h1{
      display: none !important;
    }*/
    .table > div:nth-child(2){
      display: none;
    }
  }
}


/*OTHER CUSTOM RESPONSIVE START*/

/*RESPONSIVE HEADER START*/
@media (max-width: 1250px) {
  .user-block {
    a {
      display: none;
    }
  }
}

@media (max-width: 1130px) {
  .search-results .search{
    margin: 0 0 !important;
  }
  .main-menu-block .search {
    display: inline-block;
    border-left: 1px solid #7ec7ff;
    margin: 0 0 0 25px;
    top: 12px;
    position: relative;
    .search-form {
      border: none !important;
      input::-webkit-input-placeholder {color: #229fff !important;}
      input::-moz-placeholder {color: #229fff !important;}
      input:-moz-placeholder {color: #229fff !important;}
      input:-ms-input-placeholder {color: #229fff !important;}
      input:focus::-webkit-input-placeholder {color: #95cef9;}
      input:focus::-moz-placeholder {color: #95cef9;}
      input:focus:-moz-placeholder {color: #95cef9;}
      input:focus:-ms-input-placeholder {color: #95cef9;}
      input:active::-webkit-input-placeholder {color: #95cef9;}
      input:active::-moz-placeholder {color: #95cef9;}
      input:active:-moz-placeholder {color: #95cef9;}
      input:active:-ms-input-placeholder {color: #95cef9;}
      input:hover::-webkit-input-placeholder {color: #229fff;}
      input:hover::-moz-placeholder {color: #229fff;}
      input:hover:-moz-placeholder {color: #229fff;}
      input:hover:-ms-input-placeholder {color: #229fff;}
      input[type="search"] {
        width: 18px !important;
        &:focus {
          width: 90px !important;
          @include transition(all 0.3s linear);
        }
      }
    }
  }
}

@media (max-width: 1010px) {
  .user-block {
    a {
      display: none !important;
    }
  }
}

@media (max-width: 890px) {
  .main-menu {
    top: 11px !important;
    ul {
      margin-left: 10px;
      li {
        padding: 0 !important;
        margin: 0 0 0 5px !important;
        a {
          @include font-size(18px);
        }
      }
    }
  }
  .main-menu-block .search {
    margin: 0 0 0 10px !important;
    .search-form {
      margin: 0 0 0 10px !important;
    }
  }
  .top-menu .lang {
    margin: 0 0 0 5px !important;
  }
  .head-links {
    li {
      margin-left: 0px !important;
      a {
        margin: 0 4px 0 0 !important;
        i {
          margin: auto 2px auto 0 !important;
        }
      }
    }
  }
}

@media (max-width: 790px) and (min-width: 640px) {
  .head-links {
    li {
      margin-left: 0px !important;
      a {
        margin: 0 4px 0 0 !important;
        i {
          margin: auto 2px auto 0 !important;
        }
        p {
          display: none !important;
        }
      }
    }
  }
  .top-menu .lang {
    margin: 0 100px 0 5px !important;
  }
  .main-menu-block {
    .cart-block {
      position: absolute !important;
      right: 0 !important;
      top: -45px !important;
    }
    .user-block {
      position: absolute !important;
      right: 50px !important;
      top: -45px !important;
    }

  }
}
@media (max-width: 677px) {
  .search-form {
    border: none !important;
    input[type="search"] {
      width: 18px !important;
      &:focus {
        width: 160px !important;
        @include transition(all 0.3s linear);
      }
    }
  }
}
/*RESPONSIVE HEADER END*/



@media (max-width: 1420px) {
  .blocks-items li .desc-item.tariff-detail-block {
    .half
    {
      width: 100%;
      text-align: center;
      display: block;
      &:first-child
      {
        margin-bottom: 10px;
      }
    }
  }
}@media (max-width: 1340px) {
  .blocks-items li .desc-item .tariff-price span,
  .blocks-items li .desc-item-full .tariff-price span
  {
    float: left;
  }
  .blocks-items li.active .img-container .circle
  {
    top: 10px;
  }
}
@media (max-width: 1280px) {
  .block-connect-now {
    text-align: center;
    h2 {
      margin-bottom: 20px !important;
    }
    .connect {
      float: none;
    }
  }
}

@media (max-width: 1090px) {
  .page-title
  {
    text-align: center;
    h1
    {
      display: block !important;
      text-align: center;
    }
    .geo-block
    {
      float: none;
      padding: 20px 0px 0 25px;
      text-align: left;
      display: inline-block;
      margin:0 auto;
    }
  }
  .help-banner
  {
    td
    {
      display: block;
      width: 100%;
      text-align: center;
      padding-bottom: 10px;
      &:last-child
      {
        padding-bottom: 0;
      }
    }
    .connect
    {
      float: none;
    }
  }
}

@media (max-width: 760px) {
  .blocks-items li .desc-item:first-child,
  .blocks-items li .desc-item,
  .blocks-items li .desc-item-full,
  .blocks-items li .desc-item-full:first-child
  {
    padding: 20px 10px;
  }
  .blocks-items.main-tariffs .img-container {
    padding: 143px 25px 25px;
  }
  .blocks-items.main-tariffs .active .img-container,
  .blocks-items.main-tariffs .top-menu .lang li a:hover .img-container,
  .top-menu .lang li .blocks-items.main-tariffs a:hover .img-container
  {
    padding: 151px 25px 27px;
  }
}

@media (max-width: 430px) {
  .padding-24-60 {
    padding: 24px 0px !important;
  }
}
/*OTHER CUSTOM RESPONSIVE END*/
