@charset "UTF-8";

@import "compass/css3/transition";
@import "mixins";

/*640px START*/

@media (max-width: 640px) {
  .vis-big {
    display: none !important;
  }

  .vis-medium {

  }

  .vis-small {
    display: inherit;
  }
  .index_main {
    padding: 0 15px;
    min-width: 320px;
  }
  .header_wrap {
    min-height: 70px;
  }
  h2, .aui h2 {
    @include font-size(20px);
  }
  h3, .aui h3 {
    @include font-size(28px);
  }
  h4, .aui h4 {
    @include font-size(21px);
  }
  .padding-60 {
    padding: 23px !important;
  }
  .authorize_popup_block
  {
    .register-popup
    {
      right: 23px !important;
      max-width: 100px !important;
    }
  }

}


/*640px END*/

