@import "partials/base/mixins";

@media (min-width: 1024px) {
  .vis-big {
    display: inline-block;
  }
  .vis-medium {
    //display: none;
  }

  .vis-small {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .vis-big {
    display: none !important;
  }

  .vis-medium {
    display: inline-block !important;
  }

  .vis-small {
    display: none;
  }
}

