<section>
    <div class="block text-center">
        <svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 width="191px" height="50px" viewBox="0 0 245.149 50.278" enable-background="new 0 0 245.149 50.278"
                 xml:space="preserve">
            <polygon fill="#fff" points="193.272,24.396 193.272,38.636 189.016,38.636 189.016,24.396 181.144,24.396 181.144,20.867
                201.224,20.867 201.224,24.396 "/>
            <g>
                <defs>
                    <rect id="SVGID_1_" width="245.149" height="50.278"/>
                </defs>
                <clipPath id="SVGID_2_">
                    <use xlink:href="#SVGID_1_"  overflow="visible"/>
                </clipPath>
                <path clip-path="url(#SVGID_2_)" fill="#fff" d="M174.368,32.372c0,2.197-1.482,2.836-4.244,2.836h-3.717
                    c-3.026,0-4.61-0.765-4.61-3.507v-3.899c0-2.74,1.584-3.504,4.61-3.504h3.717c2.762,0,4.244,0.639,4.244,2.835h4.265
                    c0-3.824-2.181-6.372-7.06-6.372h-6.941c-5.09,0-7.082,2.771-7.082,6.868v4.238c0,4.108,1.992,6.873,7.082,6.873h6.941
                    c4.879,0,7.06-2.542,7.06-6.368H174.368z"/>
                <path clip-path="url(#SVGID_2_)" fill="#fff" d="M207.782,30.585l3.319-6.788l3.314,6.788H207.782z M216.095,34.033l2.25,4.604
                    h5.021l-9.503-17.771h-5.525l-9.508,17.771h5.017l2.254-4.604H216.095z"/>
                <path clip-path="url(#SVGID_2_)" fill="#fff" d="M154.713,33.797c0,2.675-1.766,4.839-5.39,4.839h-15.006V20.867h14.362
                    c3.567,0,5.253,2.042,5.253,4.565c0,1.868-1.174,3.519-2.532,3.877C153.079,29.674,154.713,31.473,154.713,33.797 M147.941,24.103
                    h-9.369v3.959h9.118c1.085,0,2.199-0.887,2.199-1.979C149.89,24.983,149.014,24.103,147.941,24.103 M150.552,33.31
                    c0-1.159-1.162-2.093-2.304-2.093h-9.664V35.4h9.905C149.63,35.4,150.552,34.465,150.552,33.31"/>
                <path clip-path="url(#SVGID_2_)" fill="#fff" d="M238.674,20.867h-12.935v17.77h4.266V33.31h8.669
                    c4.352,0,6.476-2.789,6.476-6.224C245.149,23.65,243.025,20.867,238.674,20.867 M237.808,30.069h-7.803v-5.966h7.803
                    c1.482,0,3.021,0.987,3.021,2.983C240.829,29.076,239.29,30.069,237.808,30.069"/>
                <polygon clip-path="url(#SVGID_2_)" fill="#fff" points="81.01,38.636 69.201,29.181 80.6,20.866 74.22,20.866 63.895,29.086
                    74.76,38.636 	"/>
                <rect x="58.869" y="20.867" clip-path="url(#SVGID_2_)" fill="#fff" width="4.259" height="17.771"/>
                <polygon clip-path="url(#SVGID_2_)" fill="#fff" points="102.327,38.636 102.327,25.428 89.616,38.636 84.478,38.636
                    84.478,20.866 88.727,20.866 88.727,34.075 101.439,20.866 106.589,20.866 106.589,38.636 	"/>
                <polygon clip-path="url(#SVGID_2_)" fill="#fff" points="111.542,20.88 129.684,20.88 129.684,24.232 115.79,24.232
                    115.79,28.123 129.25,28.123 129.25,31.218 115.79,31.218 115.79,35.289 129.684,35.289 129.684,38.636 111.542,38.636 	"/>
                <path clip-path="url(#SVGID_2_)" fill="#fff" d="M31.266,19.857L26.441,0l-5.096,20.793L0,19.166L17.346,29.91
                    C19.847,23.769,24.034,20.752,31.266,19.857"/>
                <path clip-path="url(#SVGID_2_)" fill="#fff" d="M28.157,37.904L42.72,50.278l-7.71-18.867h-0.246
                    c-3.74,0.119-6.475,1.423-9.45,4.487L10.052,50.251L24.636,37.91C24.751,37.811,26.465,36.467,28.157,37.904"/>
                <path clip-path="url(#SVGID_2_)" fill="#fff" d="M18.198,30.439h-0.003c2.359-5.918,6.358-8.795,13.336-9.62v-0.013
                    l21.312-1.581l-4.882,3.007L32.38,23.575c-5.767,0.526-9.237,2.802-12.377,8.104L10.052,50.25l10.506-18.239
                    c3.055-5.169,6.279-7.283,11.873-7.801c0,0,11.43-0.983,14.316-1.232l-4.972,3.066L33.5,26.853
                    c-4.952,0.603-8.086,2.445-11.172,6.582L10.052,50.25L22.847,33.82c3.419-4.592,6.759-5.85,10.726-6.323
                    c0,0,5.199-0.517,6.956-0.685l-5.909,3.646c-3.956,0.146-6.859,1.535-9.995,4.769L10.052,50.25L18.198,30.439z"/>
            </g>
        </svg>
    </div>
    <div class="block-white-wrap m-top-25 table text-center relative">
        <div class="authorize_main_block padding-60" id="left-block-authorize">

            <h1>Аутентифікація</h1>
            <!--<button popover="{{dynamicPopover}}" popover-title="{{dynamicPopoverTitle}}" class="btn btn-default">Dynamic Popover</button>-->

            <img class="m-top-20 m-bottom-20" src="images/icon-register-user.png" alt="User"/>
            <form action="#" class="form_register_full m-auto text-center kyivstar-form form_internet">
                <div class="register-popup success info box on" ng-show="showSuccessCreating" ng-animate="'box'">
                    <h5>Обліковій запис для {{userLogin}} успішно створено</h5>
                    <p>На вказану Вами адресу електроної пошти було надіслано лист, який містить інструкції з активації. Після активаціі для входу на портал використовуйте адресу  електоної пошти та пароль.</p>
                    <a class="popup_close" ng-click="showSuccessCreating = false; hideRightBlock()">X</a>
                </div>

                <div ng-show="showLogin" class="input-wrapper">
                    <div class="input-wrapper">
                        <input type="text" name="user-login" id="user-login" class="input-info" ng-model="userLogin" ng-disabled="disableLogin" placeholder="Електронна пошта або номер мобiльного"/>
                        <div class="input-img info-img" ng-click="showHelp()"></div>
                    </div>
                </div>
                <!--<div class="register-popup info popup info box on" ng-show="showAuthHelp" ng-animate="'box'">
                    <h5>Довідка!</h5>
                    <p>В якості логіна може використовуватися номер мобільного телефону або адрес електроної пошти</p>
                    <a class="popup_close" ng-click="showAuthHelp = false; hideRightBlock()">X</a>
                </div>
                <div class="register-popup popup-alert info box on" ng-show="showAuthAlertLogin" ng-animate="'box'">
                    <h5>Невірний формат логіна!</h5>
                    <p>В якості логіна може використовуватися номер мобільного телефону або адрес електроної пошти</p>
                    <a class="popup_close" ng-click="showAuthAlertLogin = false; hideRightBlock()">X</a>
                </div>
                <div class="register-popup popup-alert info box on" ng-show="toggleExist" ng-animate="'box'">
                    <h5>Щось з телефоном не так!</h5>
                    <p>Вибачте, але в нас вже є користувач з такою адресою електроної пошти. Якщо це Ви, перейдіть за посиланням для входу в ваш обліковий запис.
                        <a href="#auth">Вхід</a>
                    </p>
                    <a class="popup_close" ng-click="toggleExist = false; hideRightBlock()">X</a>
                </div>-->



                <div ng-show="toggleSMS">
                    <p class="text-left">З міркувань безпеки ми відправимо безкоштовне SMS-повідомлення із кодом підтвердження на вказанний мобільний телефон</p>
                    <div class="submit-block text-center">
                        <a id="reset_all" ng-click="resetAll();" class="help_link">Скасувати?</a>
                        <input class="connect m-top-15 m-bottom-20" type="button" value="Отримати код" ng-click="get_code()" />
                    </div>
                    <div class="padding-30-top">
                        <a id="reset_all" ng-click="showCodeProblemBlock = true" class="help_link pull-left">Виникли проблеми?</a>
                    </div>
                </div>

                <div ng-show="toggleSMS2">
                    <p class="text-left">На ваш номер телефону {{userLogin}} було надiслано повiдомлення iз кодом пiдтвердження. Введiть отриманий код у поле нижче.</p>
                    <div class="input-wrapper">
                        <div class="input-wrapper">
                            <input type="password" name="user-sms-code" id="user-sms-code" class="input-locked" ng-model="userSmsCode" placeholder="Код пiдтвердження з СМС-повiдомлення">
                            <div class="input-img locked-img"></div>
                        </div>
                        <div class="register-popup popup-alert info box on" ng-show="showAuthAlertWrongCode" ng-animate="'box'">
                            <h5>Невiрний код пiдтвердження!</h5>
                            <p>Спробуйте ще раз. Кiлькiсть спроб обмежена! <a href="#auth">Вхід</a></p>
                            <a class="popup_close" ng-click="showAuthAlertWrongCode = false; hideRightBlock()">X</a>
                        </div>
                    </div>
                    <div class="submit-block text-center">
                        <a id="reset_all" ng-click="resetAll();" class="help_link">Скасувати?</a>
                        <input class="connect m-top-15 m-bottom-20" type="button" value="Вхiд" ng-click="register()" />
                    </div>
                </div>

                <div ng-show="showPukBlock">
                    <p class="text-left">Iндивiдуальнi PUK1\PUK2-код до SIM-картки зазначенi на пластиковому кардхолдерi, що мiститься на стартовому пакетi</p>
                    <div class="input-wrapper">
                        <input type="password" name="user-puk-code" id="user-puk-code" class="input-locked" ng-model="userPukCode" placeholder="PUK2-код вашоi SIM-картки">
                        <div class="input-img locked-img"></div>
                    </div>
                    <div class="submit-block text-center">
                        <a id="reset_all" ng-click="resetAll();" class="help_link">Скасувати?</a>
                        <input class="connect m-top-15 m-bottom-20" type="button" value="Вхiд" ng-click="register_puk()" />
                    </div>
                    <div class="padding-30-top">
                        <a id="reset_all" ng-click="showCodeProblemBlock = true" class="help_link pull-left">Виникли проблеми?</a>
                    </div>
                </div>

                <div ng-show="showPassword" class="input-wrapper">
                    <div ng-show="showDisposablePassword" class="block text-right">
                        <a class="help_link" ng-click="getDisposablePassword()">Отримати одноразовий пароль</a>
                    </div>
                    <div class="input-wrapper">
                        <input type="password" name="user-password" id="user-password" class="input-locked" ng-model="userPassword"
                               placeholder="Ваш пароль"/>
                        <div class="input-img locked-img"></div>
                    </div>

                    <div class="register-popup popup-alert info box on" ng-show="showAuthAlertPassword" ng-animate="'box'">
                        <h5>Помилка!</h5>
                        <p>Не вказано пароль!</p>
                        <a class="popup_close" ng-click="showAuthAlertPassword = false; hideRightBlock()">X</a>
                    </div>
                    <div class="block m-bottom-10 clearfix">
                        <input type="checkbox" name="checkbox6" id="checkbox6"/>
                        <label class="text-left" for="checkbox6">Запам'ятати мене</label>
                    </div>
                    <div class="submit-block text-center">
                        <a id="reset_all" ng-click="resetAll();" class="help_link">Скасувати?</a>
                        <input id="reg_bt" class="connect" type="button" value="Зарееструватися" ng-click="register()" ng-show="show_regBtn" />
                    </div>
                </div>

                <!--<div class="submit-block text-center" ng-show="showCodeProblemLink">-->
                    <!--<br>-->
                    <!--<a class="help_link clearfix pull-left" ng-click="showCodeProblemBlock = true">Виникли проблеми з кодом?</a>-->
                <!--</div>-->
            </form>

            <div ng-show="showCodeProblemBlock">
                <h5 class="m-top-25 m-bottom-20">Спробуйте один з альтернативних способів нижче</h5>

                <form action="#" class="form_register_full text-center kyivstar-form form_internet">
                    <div class="block m-bottom-10 text-left clearfix">
                        <input name="radio" type="radio" value="radio">
                        <label>Надіслати тестове повідомлення ще раз</label>
                    </div>
                    <div class="block m-bottom-10 text-left  clearfix">
                        <input name="radio" type="radio" value="radio">
                        <label>Вікористати PUK-2 вашої сім-картки</label>
                    </div>

                    <div class="clearfix"></div>
                    <div class="submit-block text-center">
                        <input ng-click="puk_btn()" class="connect" type="button" value="Скористатися цим способом"/>
                    </div>

                </form>

            </div>


            <div class="m-auto" ng-show="showSocials">
                <h4 class="m-top-25">Зв'язок с соціальними мережами</h4>
                <p>Ви можете увійти за допомогою облікових записів соціальніх мереж</p>
                <a class="social_link" href="#" onClick="window.open('index.html', '_blank', 'Toolbar=0, Scrollbars=1, location=0, menubar=0, status=0, directories=0, Height=800');" ><i class="iconks iconks-social-fb"></i>Facebook</a>
                <a class="social_link" href="#"><i class="iconks iconks-social-goo"></i>Google</a>
                <a class="social_link" href="#"><i class="iconks iconks-social-tw"></i>Twitter</a>
                <a class="social_link" href="#"><i class="iconks iconks-social-vk"></i>Vkontakte</a>
                <a class="help_link m-top-20 clearfix text-center" href="#registration" >Ще не зарєєстровані?</a>
            </div>

        </div>


        <div class="authorize_popup_block padding-60 text-center" id="right-block-authorize">
            <!--<img class="m-top-90" src="images/icon-register-phone.jpg" alt="Phone">-->
        </div>
    </div>
</section>


