@import "../base/mixins";
@import "compass/css3";

.register_main_block
{
  display: table-cell;
  width: 66.66%;
}

.register_additional_block
{
  display: table-cell;
  width: 33.33%;
  border-left: 1px solid #EAEAEA;
  vertical-align: middle;
}
.phone_num
{
  @include font-size(20px);
  font-family: 'MuseoSansCyrl-500';
  display: block;
}
.register-title-personal
{
  @include font-size(25px);
  font-family: 'MuseoSansCyrl-700';
  i
  {
    display: inline-block;
    margin: 0 7px 0 0;
  }
}
.kyivstar .form
{
  display: block;
  position: relative;
  label
  {
    color: #92999e;
    @include font-size(16px);
    font-family: 'MuseoSansCyrl-300';
//    margin: 10px 0;
    display: block;
    a
    {
      color: #0066bb;
    }
  }
}
.kyivstar .form_register
{
  @extend .form;
  width: 300px;
}

.additional_block_item
{
  display: block;
  width: 100%;
  margin: 0 0 66px 0;
  position: relative;
  p
  {
    font-family: 'MuseoSansCyrl-700';
    color: #3c474e;
    @include font-size(24px);
    position: absolute;
    right: 0;
    bottom: 0;
    width: 62%;

  }
  &:last-child
  {
    margin: 0;

  }
}

.welcome-block
{
  height: 300px;
  .welcome-image
  {
    display: table-cell;
    img
    {
      display: block;
    }
  }
  .welcome-text
  {
    display: table-cell;
    padding: 60px 60px 45px 60px;
    background: #229fff;
    color: #fff;
    h3
    {
      font-family: 'MuseoSansCyrl-700';
      @include font-size(40px);
      color: inherit;
    }
    p
    {
      font-family: 'MuseoSansCyrl-300';
      @include font-size(16px);
      margin:35px 0 0 0;
      line-height: inherit;
    }
    .detal
    {
      color: inherit;
      position: absolute;
      bottom: 45px;
      left: 66px;
    }
  }
}












/*Custom register start*/
.authentication_wrap
{
  max-width: 600px;
  height: auto;
  position: relative;
  margin: auto;
  input[type="text"],
  input[type="pass"]
  {
    padding: 10px 20px 10px 0 !important;
  }
}
.register_main_block_w50
{
  display: table-cell;
  width: 50.0%;
  vertical-align: top;
  position: relative;
  p
  {
    color: #92999e;
    @include font-size(16px);
    font-family: 'MuseoSansCyrl-300';
    margin: 10px 0 0 0;
    .help_link
    {
      margin: 0 5px 0 0;
      cursor: pointer;
    }
  }
}

.register_additional_block_w50
{
  display: table-cell;
  width: 50%;
  vertical-align: top;
  position: relative;
}

.authorize_main_block
{
  vertical-align: top;
  position: relative;
  width: 100%;
  max-width: 600px;
  display: inline-block;
  .kyivstar .form_register_full
  {
    max-width: 450px;
  }
}
.authorize_main_block_half
{
  @extend .authorize_main_block;
}
.authorize_popup_block
{
  display: table-cell;
  width: auto;
}

.kyivstar .form_register_full
{
  @extend .form_register;
  width: 100%;
  overflow: hidden;
  input[type="checkbox"]
  {
    float: left;
    margin: 0 7px 10px 0;
    display: inline-block;
    width: 13px;
    clear: both;
    &+label
    {
      float: left;
      display: inline-block;
      margin: 0;
      width: 95%;
    }
  }

  .info-img
  {
    background: url("../images/icon-register-question.png")scroll no-repeat 100% 50% !important;
    width: 17px;
    height: 15px;
    position: absolute;
    right: 0;
    top: 13px;
    cursor: pointer;
  }
  .locked-img
  {
    background: url("../images/icon-register_key.png")scroll no-repeat 100% 50% !important;
    width: 16px;
    height: 15px;
    position: absolute;
    right: 0;
    top: 13px;
    cursor: pointer;
  }
  .warning-img
  {
     background: url("../images/icon-register_warning.png")scroll no-repeat 100% 50% !important;
    width: 20px;
    height: 18px;
    position: absolute;
    right: 0;
    top: 13px;
    cursor: pointer;
  }
  .input-warning
  {
    //background: url("../images/icon-register_warning.png")scroll no-repeat 100% 50% !important;
    border: solid #b25a58 !important;
    color: #b25a58 !important;
    border-width: 0 0 2px 0 !important;
    &:hover,
    &:focus,
    &:active
    {
      border: solid #b25a58 !important;
      color: #b25a58 !important;
      border-width: 0 0 2px 0 !important;
    }
  }
  .input-mail
  {
    background: url("../images/icon-register_mail.png")scroll no-repeat 100% 50% !important;
  }
  .input-disabled
  {
    color: #2e2e2e !important;
  }


}
.submit-block
{
  margin-top: 30px;
  position: relative;
  cursor: pointer;
  a
  {
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
.additional-register-block
{
  margin-top: 30px;
}
.social_link
{
  @include font-size(14px);
  font-family: 'MuseoSansCyrl-300';
  margin: 10px 0 0 0;
  color: #3b4952;
  text-transform: uppercase;
  border: 1px solid #a8b1b7;
  padding: 4px 3px;
  display: inline-block;
  @include border-radius(5px);
  @include transition(all 0.3s linear);
  text-decoration: none;
  height: 25px;
  @include transition(all 0.3s linear);
  &:hover
  {
    background: #FDD923;
    //@include background(linear-gradient(top, #fff200 0%, #fff200 50%, #0800ff 51%, #0800ff 100%));
    color: #3b4952;
    @include transition(all 0.3s linear);
  }
  i
  {
    display: block;
    margin: 0 5px 0 0;
    float: left;
  }
}

.help_link
{
  display: inline-block;
  cursor: pointer;
  @include font-size(16px);
  font-family: 'MuseoSansCyrl-300';
  color: #229fff;
  @include transition(all 0.3s linear);
  &:hover
  {
    color: #3b4952;
    @include transition(all 0.3s linear);
  }
}
.skip-link
{
  @extend .help_link;
  position: absolute;
  right: 0;
  bottom: 0;
}
.list-register
{
  counter-reset: li; /* Set identifier */
  list-style: none; /* Remove standart numeration */
  li
  {
    p
    {
      position: relative;
      @include font-size(16px);
      font-family: 'MuseoSansCyrl-300';
      color: #3b4952;
      padding: 0 0 0 40px;
      margin: 10px 0 0 0;
      line-height: 1.5em;
      @include transition(all .3s ease-out);
      &:before
      {
        content: counter(li);
        counter-increment: li;
        position: absolute;
        left: 0;
        color: #fff;
        padding: 2px 10px;
        background: #3b4952;
        line-height: 1.3em;
        text-align: center;
        @include transition(all .3s ease-out);
        @include border-radius(7px);
      }
      &:hover
      {
        padding-left: 45px;
        @include transition(all .3s ease-out);
        &:before
        {
          background: #FDD923;
          @include transition(all .3s ease-out);
          color: #0066bb;
        }
      }
    }
  }
}

.kyivstar .register-popup
{
  position: absolute;
  right: 60px;
  top: 60px;
  padding: 10px;
  @include border-radius(5px);
  @include font-size(16px);
  font-family: 'MuseoSansCyrl-300';
  color: #568ba6;
  text-align: left;
  max-width: 350px;
  h5
  {
    @include font-size(18px);
    font-family: 'MuseoSansCyrl-300';
    text-decoration: underline;
    margin: 0 0 5px 0;
  }
  p
  {
    @include font-size(16px);
    font-family: 'MuseoSansCyrl-300';
  }
.popup_close
{
  position: absolute;
  top: 10px;
  right: 10px;
  @include font-size(13px);
  font-family: 'MuseoSansCyrl-700';
  font-weight: bold;
  color:inherit;
  text-decoration: none;
  cursor: pointer;
}
}
.kyivstar .info
{
  background: #d9edf7;
}
.kyivstar .popup-alert
{
  background: #f2dfdf;
  color: #b25a58;
  a
  {
    color: inherit;
    margin: 5px 0 0 0;
  }
}

.kyivstar .success
{
  background: #def0d8;
  color: #4d824d;
  position: relative;
  display: block;
  right: 0;
  top: 0;
  margin: 10px 0 0 0;
}
/*Custom register end*/





.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover-content {
  padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  border-width: 10px;
  content: "";
}
.popover.top > .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
}
.popover.top > .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.popover.right > .arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #ffffff;
}
.popover.bottom > .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}
.popover.bottom > .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.popover.left > .arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #ffffff;
  bottom: -10px;
}


.fb:hover
{
  .iconks-social-fb-big
  {
    @extend .iconks-social-fb-big-white !optional;
  }
}
.tw:hover
{
  .iconks-social-tw-big
  {
    @extend .iconks-social-tw-big-white !optional;
  }
}
.vk:hover
{
  .iconks-social-vk-big
  {
    @extend .iconks-social-vk-big-white !optional;
  }
}